@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.parallax {
  position: relative;
  overflow: hidden;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
}

.scroller {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.75;
  filter: drop-shadow(0 1px 1px rgba(46, 46, 46, 0.08));
}

.scroller span {
  display: inline-block;
  flex-shrink: 0;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .parallax {
    height: 5rem;
  }
  .scroller {
    font-size: 3rem;
    line-height: 3.0rem;
  }
}
